<?xml version="1.0" encoding="utf-8" ?>
<data> 
    <startPath>C:\\source</startPath>
    <archivingPath>C:\\Archive</archivingPath>
    <archivingDatetime>dd MM HH mm ss</archivingDatetime>
    <archivingNameforgzips>gzips</archivingNameforgzips>
    <archivingGZextension>.gz</archivingGZextension>
    <recordingPath>C:\\VikU$$a\\logforthirdlab.txt</recordingPath>
    <recordingDatetimetooutput>dd.MM HH:mm:ss</recordingDatetimetooutput>
</data>









